/* SVG */

section {
    position: relative;
    top: 80px;
}

.mapa__title {
    color: $primary-color;
    font-size: 3rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
}

.contenedor__mapa {
    width: 60rem;
    height: 80rem;
    margin: 0 auto;
    border: 3px solid $primary-color;
    border-radius: 0.5rem;
}
.svg__box {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 80%;
        height: 100%;
        &:hover {
            color: #FF8811;
        }
    }
}

.provincias {
    cursor: pointer;
    fill: #72c6ec;
    stroke: #000000;
    &:hover {
        fill: lightblue;
    }
}

.caja__informacion { 
    width: 15rem;
    height: 10rem;
    background-color: #e7e7e7;
}