// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
// Variables
$primary-color: #0695d6;
$secondary-color: #FFFFFF;
$terciary-color: #C4C4C4;
$first-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
$second-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
$third-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
$primary-font: 'Monserrat';

// Style blocks
.active {
    border: none;
    border-bottom: 1.5px solid $secondary-color;
}

@mixin reset-styles {
    text-decoration: none;
    list-style: none;
}

@mixin link-styles {
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem;
}

@mixin title-h3 {
    font-size: 1.5rem;
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins';
    letter-spacing: 1px;
}

@mixin title-filters {
    text-align: left;
    color: $secondary-color;
    font-size: 1.5rem;
    font-family: 'Poppins';
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin filter-btn {
    margin-top: 2rem;
    display: inline-block;
    width: 3rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    float: right;
    margin-right: 2rem;

    span {
        width: 100%;
        height: 4px;
        border-radius: 4px;
        display: block;
        position: absolute;
        background-color: $secondary-color;
        transition: all 0.25s ease;
        transform-origin: 0px 100%;
        transform: rotate(45deg) translate(-2px, 1px);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        bottom: 0;
        transform: rotate(-45deg) translate(-3px, 3px);
    }
}

@mixin menu-btn {
    width: 3rem;
    height: 3rem;
    float: left;
    margin-top: 2rem;
    position: relative;
    margin-left: 3rem;
    cursor: pointer;
    background-color: $primary-color;
    border-radius: 0.4rem;

    span {
        width: 80%;
        margin-left: calc(80% - 2.1rem);
        margin-top: 0.5rem;
        height: 0.4rem;
        border-radius: 0.4rem;
        display: block;
        position: absolute;
        background-color: $secondary-color;
    }

    span:nth-child(2) {
        top: calc(25%);
    }

    span:nth-child(3) {
        top: 50%;
    }

    &:hover {
        transition: 0.3s;
        transform: scale(1.15);
        box-shadow: $first-shadow;
    }

    &:active {
        opacity: 0.5;
    }
}

@mixin logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem;
    margin-right: 10rem;
    border-left: 0.3rem solid $secondary-color;
    label:first-child {
        font-size: 1.8rem;
    }

    label {
        margin-left: 0.5rem;
        color: $secondary-color;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        width: 20rem;

    }

    label:nth-child(2) {
        margin-top: 0.5rem;
    }
}

@mixin form_p {
    color: $secondary-color;
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    gap: 0.5rem;
}

@mixin form-btn {
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    margin-top: 3rem;
    border: none;
    border-radius: 1rem;
    color: $primary-color;
    background-color: $secondary-color;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: $first-shadow;
    transition: 0.3s;

    &:hover {
        transform: scale(1.10);
    }

    &:active {
        opacity: 0.5;
    }
}

@mixin table-icons {
    width: 3rem;
    height: 3rem;
    color: $secondary-color;
    border-radius: 0.5rem;
    box-shadow: $first-shadow;
    transition: 0.3s;

    &:hover {
        transform: scale(1.15);
    }
}

@mixin table-icons--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding-top: 2px;
}