// Imports
@import './variables.scss'; // Trae las variables y los componentes con sus respectivos estilos desde otro archivo sass.
@import './login'; // Trae los estilos del login.
@import './mapa'; // Trae los estilos de la sección mapas.
@import './finalizados'; // Trae todos los estilos de la seccion finalizados.

// Reset default values
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
}

/* HEADER */
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: $first-shadow;

    nav {
        height: 8rem;
        width: 100%;
        background-color: $primary-color;
        display: flex;
        flex-direction: row;

        .menu__logo {
            @include logo();
        }

        .menu__search {
            align-self: center;

            input[type=search] {
                background: none;
                border: 1.5px solid $secondary-color;
                border-radius: 0.2rem;
                width: 30rem;
                padding: 0.5rem;
                outline: none;
                font-size: 1.2rem;
                color: $secondary-color;
                transition: 0.3s;

                &::placeholder {
                    color: $secondary-color;
                }

                &:focus {
                    transform: scaleX(1.05);
                }
            }
        }

        .menu__pages {
            margin-left: 10rem;
            align-self: center;
            display: flex;
            flex-direction: row;

            li {
                list-style: none;
                margin: 2rem;

                a {
                    @include reset-styles();
                    @include link-styles();
                    transition: 0.3s;

                    &:hover {
                        color: $secondary-color;
                        opacity: 0.5;
                    }

                    &:active {
                        color: #000000;
                        opacity: 0.5;
                    }

                }
            }
        }
    }
}


/* FILTROS ON & OFF */
.filters {
    width: 20%;
    height: 100vh;
    background-color: $primary-color;
    box-shadow: $second-shadow;
    transition: 0.5s;

    .box__filters {
        .box__filters-menu {
            @include filter-btn();

        }

        position: relative;
        top: 80px;

        h3 {
            @include title-h3();
            padding-top: 8rem;
            margin-bottom: 1rem;
        }

        .box__filters-box {
            width: 100%;
            border: 1.5px solid $secondary-color;
            border-bottom: none;
            border-radius: 0.2rem;

            div {
                display: flex;
                justify-content: space-between;
                border-bottom: 1.5px solid $secondary-color;

                span {
                    width: 3rem;
                    height: 3rem;
                    color: $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $secondary-color;
                    margin: 1rem;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    transition: 0.3s;
                    box-shadow: $first-shadow;

                    &:hover {
                        transform: scale(1.05)
                    }
                }
            }

            h4 {
                @include title-filters();
            }

        }
    }
}

// Esconde todo el Aside hacia la izquierda.
.filters-off {
    transition: 0.5s;
    transform: translate(-500px);
}


/* MAIN Content */
main {
    width: 100%;
    height: 100%;
    top: 80px;
    position: absolute;
    transition: 0.5s;

    .main__button-register {
        background-color: $primary-color;
        color: $secondary-color;
        margin-top: 5rem;
        margin-left: 10rem;
        outline: none;
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        box-shadow: $first-shadow;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
            transform: scale(1.05);
        }

        &:active {
            opacity: 0.5;
        }
    }

    .menu__btn {
        @include menu-btn();
    }



    .main__table {
        width: 85%;
        height: 100%;
        margin-left: 10rem;
        margin-top: 1rem;

        th {
            padding: 0 1rem;
            font-size: 1.6rem;
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 0.5rem;
            font-family: 'Poppins';
            text-transform: uppercase;
            box-shadow: $first-shadow;
        }
        tr {
            height: 1rem;
        }
        td {
            box-shadow: $first-shadow;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.3rem;
            font-family: 'Poppins';
            max-width: 30rem;
            min-width: 10rem;
            overflow: hidden;
        }
        td:nth-child(5) {
            div {
                max-height: 20rem;
                font-size: 1.3rem;
                &:hover {
                    overflow: auto;
                }
                

            }
        }
        td:nth-child(6) {
            div {
                max-height: 20rem;
                font-size: 1.3rem;
                &:hover {
                    overflow: auto;
                }

            }
        }

        td:last-of-type {
            box-shadow: none;
            transform: scale(0.85);
            text-align: center;
        }
    }

    .main__table-modifiers {
        display: flex;
        font-size: 2rem;
        gap: 0.5rem;
        justify-content: center;

        div:nth-child(1) {
            @include table-icons();
            background-color: $primary-color;
        }

        div:nth-child(2) {
            @include table-icons();
            background-color: #33a575;
        }

        div:nth-child(3) {
            @include table-icons();
            background-color: #D64933;
        }

        div:nth-child(4) {
            @include table-icons();
            background-color: #FF8811;
        }

        div:active {
            opacity: 0.5;
        }

        span {
            @include table-icons--center();
        }
    }
}

.main__with-filters {
    width: 80%;
    height: 100%;
    position: absolute;
    margin-left: 20%;
    transition: 0.5s;
}


.main__nav-responsive {
    text-decoration: none;
    display: block;
    width: 50%;
    height: 50%;
    float: right;
}


.form__container {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto;
    max-width: 60rem;
    background-color: $primary-color;
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5);
}

.form__quit {
    height: 30px;
    width: 30px;
    align-self: end;
    cursor: pointer;
    margin: 10px 10px 0;

    span {
        transform: scale(1.5);
        text-align: center;
        line-height: 30px;
        width: 100%;
        color: #fff;
        transition: 0.3s;

        &:active {
            opacity: 0.5;
        }
    }
}

form {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        @include title-h3();
        text-align: left;
        height: 30px;
    }

    input {
        align-self: center;
        width: 90%;
        height: 3rem;
        margin: 0.5rem;
        outline: none;
        border-radius: 0.5rem;
        border: none;
        padding-left: 1rem;
    }
}

.form__first-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .form__numero-nota {
        display: flex;
        flex-direction: column;

        label {
            text-align: center;
        }

        input[type=number] {
            font-size: 1.5rem;
            width: 50%;
            height: 4rem;
            box-shadow: $first-shadow;
        }
    }

    .form__date {
        display: flex;
        flex-direction: column;

        .form__date-box {
            display: flex;
            flex-direction: row;
            align-items: center;

            input[type=date] {
                font-size: 1rem;
                height: 4rem;
                cursor: pointer;
                box-shadow: $first-shadow;
            }

            button {
                width: 6rem;
                height: 4rem;
                border-radius: 0.5rem;
                border: none;
                font-size: 1rem;
                color: #fff;
                background-color: #ff6a53;
                box-shadow: $first-shadow;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    opacity: 0.5;
                }
            }
        }
    }

}

.form__sec-div {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    select {
        font-size: 2rem;
        width: 75%;
        height: 4rem;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    option {
        font-size: 1rem;
    }

    .form__area {
        width: 50%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;

        input {
            width: 75%;
            height: 4rem;
            padding: 1rem;
            font-size: 1.5rem;
            box-shadow: $first-shadow;
        }
    }

    .form__location {
        align-items: center;
        width: 50%;
        display: flex;
        flex-direction: column;

        select {
            font-size: 1rem;
            box-shadow: $first-shadow;
        }
    }




}

.form__third-div {
    height: 15rem;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .form__solicitante {
        width: 50%;
        display: flex;
        flex-direction: column;

        label {
            text-align: center;
        }

        input {
            height: 100%;
            width: 25rem;
        }
    }

    .form__estado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textarea {
        resize: none;
        height: 100%;
        font-size: 1.5rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: $first-shadow;
        &::placeholder {
            font-size: 0.8rem;
        }
    }

}

.form__buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button:nth-child(1) {
        background-color: $cancel-btn; 
    }

    button:nth-child(2) {
        background-color: $accept-btn;
    }
}

.textarea {
    resize: none;
    height: 10rem;
    width: 25rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: $first-shadow;
}
.button {
    border: none;
    outline: none;
    width: 25%;
    height: 3rem;
    cursor: pointer;
    box-shadow: $first-shadow;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.3s;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        opacity: 0.8;
    }
}


.edit__form {
    max-width: 60rem;
    box-shadow: $first-shadow;
    margin: 0 auto;
    border: 1px solid $primary-color;
    border-radius: 0.5rem;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        width: 50%;
        @include title-h3;
        color: $secondary-color;
        margin: 1rem;
        
    }
    div {
        display: flex;
        margin-top: 2rem;
        gap: 2rem;
    }
    textarea {
        border: 1px solid $primary-color;
    }
    button {
        width: 50%;
    }
    label {
        color: $secondary-color;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: 'Poppins';
        font-weight: 600;
    }
}
.edit__form-btn {
    margin-top: 5rem;
    width: 50%;
    gap: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Mobiles */
@media screen and (max-width:480px) and (orientation:portrait) {
    aside {
        display: none;
    }

    body {
        max-width: 480px;
    }

    header {
        nav {
            .menu__logo {
                margin-right: -1rem;
                transform: scale(0.7);
                margin-left: -2rem;
            }

            .menu__search {
                input[type=search] {
                    width: 100%;
                }
            }

            .menu__responsive {
                margin-left: 0.5rem;
                margin-right: 3rem;
                align-self: center;
                width: 2.4rem;
                height: 2.4rem;

                span {
                    color: $secondary-color;
                    cursor: pointer;

                    &:active {
                        opacity: 0.5;
                        box-shadow: $first-shadow;
                    }
                }
            }

            .menu__pages {
                display: none;
            }

            .menu__pages {
                .blanco {
                    color: $secondary-color;
                }
            }
        }
    }

    .menu__btn {
        display: none;
    }

    .filters {
        transform: translateX(0px);
        width: 30%;

        .box__filters {
            .box__filters-box {
                width: 100%;
            }
        }
    }

    main {
        padding-left: 1rem;
        overflow-x: scroll;
        width: 100%;

        .main__table {
            margin-left: 0;

            tbody {
                display: grid;
                grid-template-columns: repeat(1000000, 1fr);
            }

            th {
                margin-top: 1rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                font-size: 1rem;
            }

            td {
                overflow-x: scroll;
                height: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 1rem;
                overflow: scroll;
            }
            td:first-child {
                position: relative;
                top: 5px;
            }
            td:nth-child(2) {
                position: relative;
                bottom: -20px;
            }

            td:nth-child(3) {
                position: relative;
                bottom: -40px;
            }

            td:nth-child(4) {
                position: relative;
                bottom: -50px;
            }

            td:nth-child(5) {
                position: relative;
                bottom: -60px;
                div {
                    max-height: 20rem;
                    font-size: 1rem;
                    &:active {
                        width: 30rem;
                        height: 10rem;
                    }
                }
            }

            td:nth-child(6) {
                position: relative;
                bottom: -70px;
                div {
                    max-height: 20rem;
                    font-size: 1rem;
                    &:active {
                        width: 30rem;
                        height: 10rem;
                    }
                }
            }

            td:last-of-type {
                overflow: hidden;
                position: relative;
                bottom: -70px;
            }
        }

        .main__button-register {
            margin-left: 0;
        }
    }

    .form__container {
        .form__solicitante {
            width: 100%;
        }
        .form__estado {
            width: 100%;
        }
        .form__third-div {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            textarea {
                min-width: 100%
            }
        }
    }

    .edit__form {
        margin-top: 1rem;
        .textarea {
            width: 85%;
        }
    }
}


/* Tablets */
@media screen and (min-width:481px) and (max-width:768px) {
    body {
        max-width: 768px;
        min-height: 481px;
    }

    header {
        nav {
            .menu__logo {
                margin-right: 5rem;
            }

            .menu__search {
                input[type=search] {
                    width: 100%;
                }
            }

            .menu__responsive {
                margin-left: 5rem;
                margin-right: 3rem;
                align-self: center;
                width: 2.4rem;
                height: 2.4rem;

                span {
                    color: $secondary-color;
                    cursor: pointer;

                    &:active {
                        opacity: 0.5;
                        box-shadow: $first-shadow;
                    }
                }
            }

            .menu__pages {
                display: none;
            }
        }
    }

    .filters {
        width: 40%;
        height: 80rem;

        .box__filters {
            padding: 1rem;

            .box__filters-box {
                width: 100%;

                h4 {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                }


            }
        }
    }

    .main__with-filters {
        margin-left: 35%;
    }
}


/* Desktops */
@media screen and (min-width: 769px) {
    header {
        nav {
            .menu__pages {
                gap: 5%;
            }

            .menu__responsive {
                span {
                    display: none;
                }

                display: flex;
            }
        }
    }

    main {
        .main__table {
            th {
                padding: 1rem;
            }

            tr {
                td {
                    padding: 1rem;
                }
            }
        }
        .form__location {
            select {
                font-size: 1.5rem;
            }
            input {
                font-size: 1.5rem;
            }
        }
    }
}