<!-- Utilizamos este archivo para tener la ventaja de escribir codigo HTML
con sus respectivas ventajas, es decir, autocompletado y mejor sintaxis.
Luego, lo exportamos al controlador. -->
<div class="menu__btn">
    <span></span>
    <span></span>
    <span></span>
</div>
<table class="main__table">
    <tr>
        <th>Nº</th>
        <th>Fecha de Entrada</th>
        <th>Area responsable</th>
        <th>Localidad</th>
        <th>Solicitante</th>
        <th>Estado</th>
        <th>Modificar</th>
    </tr>
</table>