<div class="menu__btn">
    <span></span>
    <span></span>
    <span></span>
</div>
<button class="main__button-register">Crear Registro</button>

<div class="none">
    <div class="form__quit">
        <span class="material-symbols-outlined">
            close
        </span>
    </div>
    <form action="http://localhost:8000/api/registers" method="POST">
        <div class="form__first-div">
            <div class="form__numero-nota">
                <label for="Nº">Nº de NOTA</label>
                <input type="number" name="" id="" placeholder="...">
            </div>

            <div class="form__date">
                <label for="Fecha">Fecha de ENTRADA</label>
                <div class="form__date-box">
                    <input type="date">
                    <button class="form__button-today">HOY</button>
                </div>
            </div>
        </div>


        <div class="form__sec-div">
            <div class="form__area">
                <label for="Area Responsable">Area Responsable</label>
                <input type="text" placeholder="...">
            </div>

            <div class="form__location">
                <label for="Localidad">Localidad</label>
                <select name="" id="" placeholder="...">
                    <!--
                        Agregado dinamico de las opciones desde JS.
                    -->
                </select>
            </div>

        </div>

        <div class="form__third-div">
            <div class="form__solicitante">
                <label for="Solicitante">Solicitante</label>
                <textarea placeholder="..." class="textarea"></textarea>
            </div>
            <div class="form__estado">
                <label for="Estado">Estado</label>
                <textarea placeholder="..." class="textarea"></textarea>
            </div>
        </div>


        <div class="form__buttons">
            <button class="button">Limpiar</button>
            <button class="button">Agregar</button>
        </div>

    </form>
</div>
<table class="main__table">
    
</table>