<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAC Iniciar Sesión</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="login">
        <form class="main__form">
            <div class="form__logo">
                <label >Trenes Argentinos</label>
                <label >Cargas</label>
            </div>
            <span class="line__horizontal"></span>
            <div class="form__inputs">
                <div>
                    <label for="username">Usuario</label>
                    <input type="text" placeholder="...">
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" placeholder="...">
                </div>
            </div>
            <div class="form__recovery">
                <p>Recuperar usuario</p>
                <p>/</p>
                <p>Recuperar contraseña</p>
            </div>
            <button>Iniciar</button>

            <span class="line__horizontal"></span>
            <a href="https://www.argentina.gob.ar/transporte/trenes-argentinos-cargas" target="_blank">trenesargentinos.gob.ar</a>
        </form>
    </section>
</body>
</html>