<section class="login">
    <form class="main__form">
        <div class="form__logo">
            <label >Trenes Argentinos</label>
            <label >Cargas</label>
        </div>
        <span class="line__horizontal"></span>
        <div class="form__inputs">
            <div>
                <label for="username">Usuario</label>
                <input type="text" placeholder="...">
            </div>

            <div>
                <label for="password">Contraseña</label>
                <input type="password" placeholder="...">
            </div>
        </div>
        <div class="form__recovery">
            <p>Recuperar usuario</p>
            <p>/</p>
            <p>Recuperar contraseña</p>
        </div>
        <button class="cta__iniciar">Iniciar</button>

        <span class="line__horizontal"></span>
        <a href="https://www.argentina.gob.ar/transporte/trenes-argentinos-cargas" target="_blank">trenesargentinos.gob.ar</a>
    </form>
</section>